/* 4 - EXTERNAL CSS */
body{
    padding-bottom: 500px;
}
h3{
    color:green;
    font-size: 50px;
}
p{
    color: blue;
}

/* CLASSES*/
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* IDS */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */
h2{
    border-bottom: 2px solid red;
}

.title{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}
/* nome de cores */
.color-name{
    color: rgb(0, 180, 180);
}
/* HEX */
.hex{
    color: #55a398;
}
.hex-2{
    color: #61b550;
}
/* Aprofundando em hex */
.simple-hex{
    color: #333;
}
.simple-hex-1{
    color: #a5f;
}
/* RGB */
.rgb{
    color: rgb(0,255,0);
}
.rgb-1{
    color: rgb(0, 100, 100);
}
.rgb-2{
    color: rgb(150, 100, 80);
}
/* rgba */
.rgba{
    color: rgba(200, 199, 45, 0.5);
}
/* hsl */
.hsl{
    color: hsl(255, 30%, 60%);
}
.hsl-1{
    color: hsl(201, 44%, 50%);
}